*.DS_Store
*/__MACOSX/*

venv*/
.vscode
#Databases
*.db

odysseus/webapp/apis/api_cityDataManager/norm-data.json
odysseus/webapp/apis/api_cityDataManager/raw-data.json

simple_demo_0/*

data/*
docs_html/*

odysseus/data/*
odysseus/city_scenario/city_scenarios/*
odysseus/demand_modelling/city_demand_models/*
odysseus/supply_modelling/city_supply_models/*
odysseus/simulator/figures/*
odysseus/simulator/results/*
odysseus/simulator/simulation_input/sim_current_config/

odysseus/simulator/simulation_configs_py/itsc_2021/*
odysseus/simulator/simulation_configs_py/switch_0/*

*.pickle
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*~

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from bf_prelive_predictor.a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
venv3/
ENV/
env.bak/
venv.bak/
inter_env/*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# intellij
.idea/


#html
*.html

#exe
*.exe

#xtml
*.xtml

#pyc
*.pyc

*.secret
